<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicLibraryTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E91FADB01EC3160400C864FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91FADCC1EC3160500C864FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91FADD71EC3160500C864FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
